# Planet Mass and Radius Relation
### Using our filtered dataset with removed duplicates and removed outliers (Samia's Code + Inara's Code), we will look at the relationship between planet's mass and planet's radius (size)

In [1]:
# Importing
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# loading dataset
dataset = pd.read_csv('filtered_exoplanet_dataset_removed_outliers.csv')

In [3]:
dataset.head(10)

,planet_name,host_star_name,orbital_period_day,orbit_semi_major_axis_au,planet_rad_earth_rad,planet_rad_jup_rad,planet_mass_earth_mass,planet_mass_jup_mass,Eccentricity,planet_equil_temp_k,spectral_type,stellar_effective_temp_k,stellar_rad_solar_rad,stellar_mass_solar_mass,distance_parsec,stellar_surf_grav,declination_deg,discovery_method
0,11 Com b,11 Com,324.620000,1.226000,NaN,NaN,5505.066163,17.321333,0.234500,NaN,G8 III,4808.000,16.380000,2.463333,93.1846,2.380,17.793252,Radial Velocity
1,11 UMi b,11 UMi,516.219985,1.526667,NaN,NaN,3818.094733,12.013333,0.080000,NaN,K4 III,4276.500,26.935000,2.093333,125.3210,1.765,71.823943,Radial Velocity
2,14 And b,14 And,186.300000,0.761667,NaN,NaN,1224.550433,3.853000,0.000000,NaN,K0 III,4850.500,11.275000,1.726667,75.4392,2.590,39.235837,Radial Velocity
3,14 Her b,14 Her,1766.378417,2.814750,NaN,NaN,1642.383591,5.167625,0.362925,NaN,K0 V,5296.985,0.976667,0.927143,17.9323,4.420,43.816362,Radial Velocity
4,16 Cyg B b,16 Cyg B,799.375000,1.662833,NaN,NaN,533.514528,1.678667,0.676033,NaN,G2.5 V,5728.594,1.140000,1.016000,21.1397,4.344,50.516824,Radial Velocity
5,17 Sco b,17 Sco,578.380000,1.450000,NaN,NaN,1373.018720,4.320000,0.060000,NaN,K3 III,4157.000,25.920000,1.220000,124.9530,1.700,-11.837791,Radial Velocity
6,18 Del b,18 Del,988.075000,2.538667,NaN,NaN,3109.015380,9.782333,0.052000,NaN,G6 III,4979.500,8.650000,2.166667,76.2220,2.845,10.839138,Radial Velocity
7,1RXS J160929.1-210524 b,1RXS J160929.1-210524,NaN,330.000000,18.647,1.664,3135.750000,9.000000,NaN,1750.0,K7 V,4043.250,1.330000,0.792500,139.1350,4.000,-21.083140,Imaging
8,24 Boo b,24 Boo,30.340300,0.192000,NaN,NaN,284.933890,0.896500,0.037000,NaN,G3 IV,4854.500,11.415000,1.020000,95.9863,2.350,49.844649,Radial Velocity
9,24 Sex b,24 Sex,452.800000,1.333000,NaN,NaN,632.460000,1.990000,0.090000,NaN,NaN,5098.000,4.900000,1.540000,72.0691,3.500,-0.902400,Radial Velocity

#### Removing 5 exoplanets

In [4]:
print("The shape of the dataset before removing 5 exoplanets is: ", dataset.shape)

The shape of the dataset before removing 5 exoplanets is:  (5630, 18)

In [5]:
# We have 5,630 exoplanets in total, we must remove 5 exoplanets which orbit a white dwarf or brown dwarf star
# we should only have 5,635 exoplaents in the dataset which orbit a main sequence star (V), sub-giant (IV), or red giant (V)

# remove exoplanet NN Ser c
print("The exoplanet to drop is: ", dataset.iloc[4828, 0]) #.iloc[row number 4,828 where NN Ser c is present, first column]

# remove the row where the first column is NN Ser c
dataset = dataset[dataset.iloc[:,0] != 'NN Ser c']
print("The shape of the dataset after removing NN Ser c is: ", dataset.shape)

The exoplanet to drop is:  NN Ser c
The shape of the dataset after removing NN Ser c is:  (5629, 18)

In [6]:
# remove exoplanet NN Ser d
print("The exoplanet to drop is: ", dataset.iloc[4828, 0]) #.iloc[row number 4,828 where NN Ser d is present, first column]

# remove the row where the first column is NN Set d
dataset = dataset[dataset.iloc[:,0] != 'NN Ser d']
print("The shape of the dataset after removing NN Ser d is: ", dataset.shape)

The exoplanet to drop is:  NN Ser d
The shape of the dataset after removing NN Ser d is:  (5628, 18)

In [7]:
# remove exoplanet CFBDSIR J145829+101343 b
print("The exoplanet to drop is: ", dataset.iloc[83, 0]) #.iloc[row number 83 where CFBDSIR J145829+101343 b is present, first column]

# remove the row where the first column is CFBDSIR J145829+101343 b
dataset = dataset[dataset.iloc[:,0] != 'CFBDSIR J145829+101343 b']
print("The shape of the dataset after removing CFBDSIR J145829+101343 b is: ", dataset.shape)

The exoplanet to drop is:  CFBDSIR J145829+101343 b
The shape of the dataset after removing CFBDSIR J145829+101343 b is:  (5627, 18)

In [8]:
# remove exoplanet WISE J033605.05-014350.4 b
print("The exoplanet to drop is: ", dataset.iloc[5556, 0]) #.iloc[row number 5,556 where WISE J033605.05-014350.4 b is present, first column]

# remove the row where the first column is WISE J033605.05-014350.4 b
dataset = dataset[dataset.iloc[:,0] != 'WISE J033605.05-014350.4 b']
print("The shape of the dataset after removing WISE J033605.05-014350.4 b is: ", dataset.shape)

The exoplanet to drop is:  WISE J033605.05-014350.4 b
The shape of the dataset after removing WISE J033605.05-014350.4 b is:  (5626, 18)

In [9]:
# remove exoplanet WISEP J121756.91+162640.2 A b
print("The exoplanet to drop is: ", dataset.iloc[5556, 0]) #.iloc[row number 5,556 where WISEP J121756.91+162640.2 A b is present, first column]

# remove the row where the first column is WISEP J121756.91+162640.2 A b
dataset = dataset[dataset.iloc[:,0] != 'WISEP J121756.91+162640.2 A b']
print("The shape of the dataset after removing WISEP J121756.91+162640.2 A b is: ", dataset.shape)

The exoplanet to drop is:  WISEP J121756.91+162640.2 A b
The shape of the dataset after removing WISEP J121756.91+162640.2 A b is:  (5625, 18)

#### Looking at the relation between mass and radius and creating planet classifications

In [10]:
# Earth-Like exoplanet classification

# creating a condition to classify for earth-like exoplanets
earth_like_condition = (dataset['planet_rad_earth_rad'] <= 1.5) & (dataset['planet_mass_earth_mass'] >= 1) & (dataset['planet_mass_earth_mass'] < 2)

# count the number of exoplanets that satisfy this condition 
earth_like_count = dataset[earth_like_condition].shape[0]

# print the number of exoplanets that satisfy the condition
print('The number of exoplanets that are earth like is: ', earth_like_count)

# list the names of exoplanets that satisfy the condtion
earth_like_names = dataset[earth_like_condition]['planet_name']
print('The names of earth like exoplanets:')
print(earth_like_names)

The number of exoplanets that are earth like is:  17
The names of earth like exoplanets:
191        GJ 1132 b
197        GJ 1252 b
239        GJ 3473 b
243         GJ 357 b
251        GJ 3929 b
297         GJ 806 b
316        GJ 9827 c
3336     Kepler-20 e
4739      LHS 1140 c
4742      LHS 1678 c
4756    LTT 1445 A c
5090       TOI-178 b
5189       TOI-270 b
5263       TOI-500 b
5341    TRAPPIST-1 b
5342    TRAPPIST-1 c
5346    TRAPPIST-1 g
Name: planet_name, dtype: object

In [11]:
# Super-Earth-Like exoplanet classification
super_earth_like_condition = (dataset['planet_rad_earth_rad'] > 1.5) & (dataset['planet_rad_earth_rad'] <= 2) & (dataset['planet_mass_earth_mass'] >= 2) & (dataset['planet_mass_earth_mass'] < 8)

# count the number of exoplanets that satisfy this condition 
super_earth_like_count = dataset[super_earth_like_condition].shape[0]

# print the number of exoplanets that satisfy the condition
print('The number of exoplanets that are super earth like is: ', super_earth_like_count)

# list the names of exoplanets that satisfy the condtion
super_earth_like_names = dataset[super_earth_like_condition]['planet_name']
print('The names of super earth like exoplanets:')
print(super_earth_like_names)

The number of exoplanets that are super earth like is:  55
The names of super earth like exoplanets:
120        CoRoT-7 b
315        GJ 9827 b
537      HD 110067 e
624      HD 136352 b
687       HD 15337 b
848       HD 20329 b
917      HD 219134 b
918      HD 219134 c
972      HD 260655 c
1007       HD 3167 b
1174      HD 80653 b
1267     HIP 29442 c
1352        K2-111 b
1375        K2-131 b
1383        K2-136 d
1385        K2-138 b
1394        K2-141 b
1481        K2-199 b
1567        K2-265 b
1608        K2-291 b
1614          K2-3 c
1949     KOI-1599.01
1985    Kepler-100 d
2054    Kepler-105 c
2083    Kepler-107 b
2127     Kepler-11 b
2343    Kepler-126 b
2507    Kepler-138 c
2525    Kepler-139 d
3368     Kepler-21 b
3932    Kepler-414 b
4062     Kepler-50 b
4209     Kepler-60 d
4280     Kepler-65 d
4473     Kepler-80 e
4644     Kepler-93 b
4696     Kepler-97 b
4709     Kepler-98 b
4720     Kepler-99 b
4736       L 98-59 d
4738      LHS 1140 b
4998      TOI-1136 b
5012      TOI-1235 b
5025      TOI-1266 c
5040      TOI-1347 c
5046      TOI-1416 b
5053      TOI-1452 b
5066      TOI-1634 b
5072      TOI-1685 b
5077      TOI-1695 b
5091       TOI-178 c
5161       TOI-238 b
5311       TOI-733 b
5315       TOI-776 b
5324       TOI-836 b
Name: planet_name, dtype: object

In [12]:
# Neptune-Like exoplanet classification
neptune_like_condition = (dataset['planet_rad_earth_rad'] > 2) & (dataset['planet_rad_earth_rad'] <= 7) & (dataset['planet_mass_earth_mass'] >= 8) & (dataset['planet_mass_earth_mass'] < 20)

# count the number of exoplanets that satisfy this condition 
neptune_like_count = dataset[neptune_like_condition].shape[0]

# print the number of exoplanets that satisfy the condition
print('The number of exoplanets that are neptune like is: ', neptune_like_count)

# list the names of exoplanets that satisfy the condtion
neptune_like_names = dataset[neptune_like_condition]['planet_name']
print('The names of neptune like exoplanets:')
print(neptune_like_names)

The number of exoplanets that are neptune like is:  169
The names of neptune like exoplanets:
53              AU Mic c
62           BD+20 594 b
103           CoRoT-22 b
175     EPIC 229004835 b
179     EPIC 249893012 c
              ...
5322           TOI-824 b
5325           TOI-836 c
5334           TOI-908 b
5339           TOI-969 b
5497           WASP-47 d
Name: planet_name, Length: 169, dtype: object

In [13]:
# Super-Neptune-Like exoplanet classification
super_neptune_like_condition = (dataset['planet_rad_earth_rad'] >= 5) & (dataset['planet_rad_earth_rad'] <= 7) & (dataset['planet_mass_earth_mass'] >= 20) & (dataset['planet_mass_earth_mass'] <= 80)

# count the number of exoplanets that satisfy this condition 
super_neptune_like_count = dataset[super_neptune_like_condition].shape[0]

# print the number of exoplanets that satisfy the condition
print('The number of exoplanets that are super neptune like is: ', super_neptune_like_count)

# list the names of exoplanets that satisfy the condtion
super_neptune_like_names = dataset[super_neptune_like_condition]['planet_name']
print('The names of super neptune like exoplanets:')
print(super_neptune_like_names)

The number of exoplanets that are super neptune like is:  29
The names of super neptune like exoplanets:
106              CoRoT-24 c
123               CoRoT-8 b
125     CoRoTID 223977153 b
159        EPIC 211945201 b
426             HATS-37 A b
427               HATS-38 b
463                HATS-7 b
686             HD 152843 c
1349               K2-108 b
1719                K2-39 b
1998           Kepler-101 b
2027           Kepler-103 c
2226           Kepler-117 b
3716           Kepler-328 c
4151            Kepler-56 b
5031             TOI-1288 b
5037             TOI-1338 b
5041             TOI-1386 b
5075             TOI-1694 b
5079             TOI-1710 b
5081             TOI-1728 b
5099              TOI-181 b
5173             TOI-2498 b
5219             TOI-4010 c
5220             TOI-4010 d
5276              TOI-532 b
5301              TOI-674 b
5373            V1298 Tau c
5427             WASP-156 b
Name: planet_name, dtype: object

In [14]:
# Jupiter-Like exoplanet classification
jupiter_like_condition = (dataset['planet_rad_earth_rad'] > 6) & (dataset['planet_rad_earth_rad'] <= 15) & (dataset['planet_mass_earth_mass'] >= 318) & (dataset['planet_mass_earth_mass'] <= 3180)

# count the number of exoplanets that satisfy this condition 
jupiter_like_count = dataset[jupiter_like_condition].shape[0]

# print the number of exoplanets that satisfy the condition
print('The number of exoplanets that are jupiter like is: ', jupiter_like_count)

# list the names of exoplanets that satisfy the condtion
jupiter_like_names = dataset[jupiter_like_condition]['planet_name']
print('The names of jupiter like exoplanets:')
print(jupiter_like_names)

The number of exoplanets that are jupiter like is:  217
The names of jupiter like exoplanets:
87      COCONUTS-2 b
90        CoRoT-10 b
93        CoRoT-13 b
94        CoRoT-14 b
96        CoRoT-17 b
            ...
5552       WASP-95 b
5554       WASP-97 b
5556       WASP-99 b
5576          XO-4 b
5577          XO-5 b
Name: planet_name, Length: 217, dtype: object

In [15]:
# Super-Jupiter-Like exoplanet classification
super_jupiter_like_condition = (dataset['planet_rad_earth_rad'] > 15) & (dataset['planet_mass_earth_mass'] > 3180)

# count the number of exoplanets that satisfy this condition 
super_jupiter_like_count = dataset[super_jupiter_like_condition].shape[0]

# print the number of exoplanets that satisfy the condition
print('The number of exoplanets that are super jupiter like is: ', super_jupiter_like_count)

# list the names of exoplanets that satisfy the condtion
super_jupiter_like_names = dataset[super_jupiter_like_condition]['planet_name']
print('The names of super jupiter like exoplanets:')
print(super_jupiter_like_names)

The number of exoplanets that are super jupiter like is:  12
The names of super jupiter like exoplanets:
14      2MASS J02192210-3925225 b
88                       CT Cha b
128                      DH Tau b
318                       GPX-1 b
319                      GQ Lup b
320             GSC 06214-00210 b
464                     HATS-70 b
861                   HD 206893 c
1835                    KELT-20 b
1956                  KOI-2513.01
5575                       XO-3 b
5588                    bet Pic b
Name: planet_name, dtype: object

#### Making new dataframe to display results

In [16]:
# Ensuring all panet classifications (Series) have the same length by filling with NaN

# max_length determines the maximum length between the different planet classifications (series)
max_length = max(earth_like_count, super_earth_like_count, neptune_like_count, super_neptune_like_count, jupiter_like_count, super_jupiter_like_count)
# creating the columns for the new dataframe
# .reindex extends the shorter dataframe to the maximum length, filling missing values with NaN.
column1 = dataset[earth_like_condition].reindex(range(max_length))
column2 = dataset[super_earth_like_condition].reindex(range(max_length))
column3 = dataset[neptune_like_condition].reindex(range(max_length))
column4 = dataset[super_neptune_like_condition].reindex(range(max_length))
column5 = dataset[jupiter_like_condition].reindex(range(max_length))
column6 = dataset[super_jupiter_like_condition].reindex(range(max_length))

In [17]:
# creating new dataframe based on our results
new_dataframe = pd.DataFrame({
    'Earth Like': dataset[earth_like_condition]['planet_name'],
    'Super Earth Like': dataset[super_earth_like_condition]['planet_name'],
    'Neptune Like': dataset[neptune_like_condition]['planet_name'],
    'Super Neptune Like': dataset[super_neptune_like_condition]['planet_name'],
    'Jupiter Like': dataset[jupiter_like_condition]['planet_name'],
    'Super Jupiter Like': dataset[super_jupiter_like_condition]['planet_name']
})

In [18]:
print(new_dataframe)
#new_dataframe.to_csv('mass_radius_relation.csv', index=False)

     Earth Like Super Earth Like Neptune Like Super Neptune Like  \
14          NaN              NaN          NaN                NaN
53          NaN              NaN     AU Mic c                NaN
62          NaN              NaN  BD+20 594 b                NaN
87          NaN              NaN          NaN                NaN
88          NaN              NaN          NaN                NaN
...         ...              ...          ...                ...
5556        NaN              NaN          NaN                NaN
5575        NaN              NaN          NaN                NaN
5576        NaN              NaN          NaN                NaN
5577        NaN              NaN          NaN                NaN
5588        NaN              NaN          NaN                NaN

      Jupiter Like         Super Jupiter Like
14             NaN  2MASS J02192210-3925225 b
53             NaN                        NaN
62             NaN                        NaN
87    COCONUTS-2 b                        NaN
88             NaN                   CT Cha b
...            ...                        ...
5556     WASP-99 b                        NaN
5575           NaN                     XO-3 b
5576        XO-4 b                        NaN
5577        XO-5 b                        NaN
5588           NaN                  bet Pic b

[499 rows x 6 columns]

### Using our filtered dataset with removed duplicates and removed outliers (Samia's Code + Inara's Code), we will look at the planet's mass by itself

In [19]:
dataset.head(10)

,planet_name,host_star_name,orbital_period_day,orbit_semi_major_axis_au,planet_rad_earth_rad,planet_rad_jup_rad,planet_mass_earth_mass,planet_mass_jup_mass,Eccentricity,planet_equil_temp_k,spectral_type,stellar_effective_temp_k,stellar_rad_solar_rad,stellar_mass_solar_mass,distance_parsec,stellar_surf_grav,declination_deg,discovery_method
0,11 Com b,11 Com,324.620000,1.226000,NaN,NaN,5505.066163,17.321333,0.234500,NaN,G8 III,4808.000,16.380000,2.463333,93.1846,2.380,17.793252,Radial Velocity
1,11 UMi b,11 UMi,516.219985,1.526667,NaN,NaN,3818.094733,12.013333,0.080000,NaN,K4 III,4276.500,26.935000,2.093333,125.3210,1.765,71.823943,Radial Velocity
2,14 And b,14 And,186.300000,0.761667,NaN,NaN,1224.550433,3.853000,0.000000,NaN,K0 III,4850.500,11.275000,1.726667,75.4392,2.590,39.235837,Radial Velocity
3,14 Her b,14 Her,1766.378417,2.814750,NaN,NaN,1642.383591,5.167625,0.362925,NaN,K0 V,5296.985,0.976667,0.927143,17.9323,4.420,43.816362,Radial Velocity
4,16 Cyg B b,16 Cyg B,799.375000,1.662833,NaN,NaN,533.514528,1.678667,0.676033,NaN,G2.5 V,5728.594,1.140000,1.016000,21.1397,4.344,50.516824,Radial Velocity
5,17 Sco b,17 Sco,578.380000,1.450000,NaN,NaN,1373.018720,4.320000,0.060000,NaN,K3 III,4157.000,25.920000,1.220000,124.9530,1.700,-11.837791,Radial Velocity
6,18 Del b,18 Del,988.075000,2.538667,NaN,NaN,3109.015380,9.782333,0.052000,NaN,G6 III,4979.500,8.650000,2.166667,76.2220,2.845,10.839138,Radial Velocity
7,1RXS J160929.1-210524 b,1RXS J160929.1-210524,NaN,330.000000,18.647,1.664,3135.750000,9.000000,NaN,1750.0,K7 V,4043.250,1.330000,0.792500,139.1350,4.000,-21.083140,Imaging
8,24 Boo b,24 Boo,30.340300,0.192000,NaN,NaN,284.933890,0.896500,0.037000,NaN,G3 IV,4854.500,11.415000,1.020000,95.9863,2.350,49.844649,Radial Velocity
9,24 Sex b,24 Sex,452.800000,1.333000,NaN,NaN,632.460000,1.990000,0.090000,NaN,NaN,5098.000,4.900000,1.540000,72.0691,3.500,-0.902400,Radial Velocity

In [20]:
# earth-like mass classification

# creating a condition to classify for earth-like exoplanets in terms of mass
earth_like_mass = (dataset['planet_mass_earth_mass'] >= 1) & (dataset['planet_mass_earth_mass'] < 2)

# count the number of exoplanets that satisfy this condition 
earth_like_mass_count = dataset[earth_like_mass].shape[0]

# print the number of exoplanets that satisfy the condition
print('The number of exoplanets that are earth like is: ', earth_like_mass_count)

# list the names of exoplanets that satisfy the condtion
earth_like_mass_names = dataset[earth_like_mass]['planet_name']
print('The names of earth like exoplanets:')
print(earth_like_mass_names)

The number of exoplanets that are earth like is:  45
The names of earth like exoplanets:
54                     AU Mic d
186                   GJ 1002 b
187                   GJ 1002 c
188                   GJ 1061 b
189                   GJ 1061 c
190                   GJ 1061 d
191                   GJ 1132 b
197                   GJ 1252 b
218                    GJ 273 c
222                   GJ 3138 b
239                   GJ 3473 b
243                    GJ 357 b
251                   GJ 3929 b
253                    GJ 393 b
275                    GJ 581 e
297                    GJ 806 b
316                   GJ 9827 c
863                  HD 20781 b
895                 HD 215152 b
896                 HD 215152 c
1389                   K2-138 f
1910       KMT-2020-BLG-0414L b
2344               Kepler-126 c
2508               Kepler-138 d
3336                Kepler-20 e
4739                 LHS 1140 c
4742                 LHS 1678 c
4756               LTT 1445 A c
4857    OGLE-2013-BLG-0341L B b
4947             PSR B0329+54 b
4958              Proxima Cen b
4972                 Ross 128 b
5090                  TOI-178 b
5189                  TOI-270 b
5263                  TOI-500 b
5341               TRAPPIST-1 b
5342               TRAPPIST-1 c
5346               TRAPPIST-1 g
5357         Teegarden's Star b
5358         Teegarden's Star c
5565                Wolf 1061 b
5568                Wolf 1069 b
5583                   YZ Cet d
5622                  tau Cet g
5623                  tau Cet h
Name: planet_name, dtype: object

In [21]:
# Super-earth-like mass classification

# creating a condition to classify for super-earth-like exoplanets in terms of mass
super_earth_like_mass = (dataset['planet_mass_earth_mass'] >= 2) & (dataset['planet_mass_earth_mass'] < 8)

# count the number of exoplanets that satisfy this condition 
super_earth_like_mass_count = dataset[super_earth_like_mass].shape[0]

# print the number of exoplanets that satisfy the condition
print('The number of exoplanets that are super earth like is: ', super_earth_like_mass_count)

# list the names of exoplanets that satisfy the condtion
super_earth_like_mass_names = dataset[super_earth_like_mass]['planet_name']
print('The names of super earth like exoplanets:')
print(super_earth_like_mass_names)

The number of exoplanets that are super earth like is:  355
The names of super earth like exoplanets:
38        61 Vir b
82        CD Cet b
105     CoRoT-24 b
120      CoRoT-7 b
131       DMPP-1 d
           ...
5570    Wolf 503 b
5612      pi Men c
5618     rho CrB e
5620     tau Cet e
5621     tau Cet f
Name: planet_name, Length: 355, dtype: object

In [22]:
# Neptune-Like mass classification

# creating a condition to classify for neptune-like exoplanets in terms of mass
neptune_like_mass = (dataset['planet_mass_earth_mass'] >= 8) & (dataset['planet_mass_earth_mass'] < 20)

# count the number of exoplanets that satisfy this condition 
neptune_like_mass_count = dataset[neptune_like_condition].shape[0]

# print the number of exoplanets that satisfy the condition
print('The number of exoplanets that are neptune like is: ', neptune_like_mass_count)

# list the names of exoplanets that satisfy the condtion
neptune_like_mass_names = dataset[neptune_like_mass]['planet_name']
print('The names of neptune like exoplanets:')
print(neptune_like_mass_names)

The number of exoplanets that are neptune like is:  169
The names of neptune like exoplanets:
35          55 Cnc e
39          61 Vir c
53          AU Mic c
62       BD+20 594 b
71      BD-06 1339 b
            ...
5339       TOI-969 b
5497       WASP-47 d
5498       WASP-47 e
5541       WASP-84 c
5613        pi Men d
Name: planet_name, Length: 366, dtype: object

In [23]:
# Super-Neptune-Like mass classification

# creating a condition to classify for super-neptune-like exoplanets in terms of mass
super_neptune_like_mass = (dataset['planet_mass_earth_mass'] >= 20) & (dataset['planet_mass_earth_mass'] <= 80)

# count the number of exoplanets that satisfy this condition 
super_neptune_like_mass_count = dataset[super_neptune_like_mass].shape[0]

# print the number of exoplanets that satisfy the condition
print('The number of exoplanets that are super neptune like is: ', super_neptune_like_mass_count)

# list the names of exoplanets that satisfy the condtion
super_neptune_like_mass_names = dataset[super_neptune_like_mass]['planet_name']
print('The names of super neptune like exoplanets:')
print(super_neptune_like_mass_names)

The number of exoplanets that are super neptune like is:  304
The names of super neptune like exoplanets:
33          55 Cnc c
36          55 Cnc f
40          61 Vir d
52          AU Mic b
72      BD-06 1339 c
            ...
5456      WASP-182 b
5466      WASP-193 b
5476       WASP-29 b
5616       rho CrB c
5617       rho CrB d
Name: planet_name, Length: 304, dtype: object

In [24]:
# juptier-Like mass classification

# creating a condition to classify for jupiter-like exoplanets in terms of mass
jupiter_like_mass = (dataset['planet_mass_earth_mass'] >= 318) & (dataset['planet_mass_earth_mass'] <= 3180)

# count the number of exoplanets that satisfy this condition 
jupiter_like_mass_count = dataset[jupiter_like_mass].shape[0]

# print the number of exoplanets that satisfy the condition
print('The number of exoplanets that are jupiter like is: ', jupiter_like_mass_count)

# list the names of exoplanets that satisfy the condtion
jupiter_like_mass_names = dataset[jupiter_like_mass]['planet_name']
print('The names of jupiter like exoplanets:')
print(jupiter_like_mass_names)

The number of exoplanets that are jupiter like is:  903
The names of jupiter like exoplanets:
2         14 And b
3         14 Her b
4       16 Cyg B b
5         17 Sco b
6         18 Del b
           ...
5615     rho CrB b
5619     tau Boo b
5626     ups And c
5627     ups And d
5629      xi Aql b
Name: planet_name, Length: 903, dtype: object

In [25]:
# super-jupiter-Like mass classification

# creating a condition to classify for super-jupiter-like exoplanets in terms of mass
super_jupiter_like_mass = (dataset['planet_mass_earth_mass'] > 3180)

# count the number of exoplanets that satisfy this condition 
super_jupiter_like_mass_count = dataset[super_jupiter_like_mass].shape[0]

# print the number of exoplanets that satisfy the condition
print('The number of exoplanets that are super jupiter like is: ', super_jupiter_like_mass_count)

# list the names of exoplanets that satisfy the condtion
super_jupiter_like_mass_names = dataset[super_jupiter_like_mass]['planet_name']
print('The names of super jupiter like exoplanets:')
print(super_jupiter_like_mass_names)

The number of exoplanets that are super jupiter like is:  175
The names of super jupiter like exoplanets:
0                           11 Com b
1                           11 UMi b
12      2MASS J01033563-5515561 AB b
13         2MASS J01225093-2439505 b
14         2MASS J02192210-3925225 b
                    ...
5602                       kap And b
5605                       mu2 Sco b
5607                        nu Oph b
5608                        nu Oph c
5624                       tau Gem b
Name: planet_name, Length: 175, dtype: object

### Using our filtered dataset with removed duplicates and removed outliers (Samia's Code + Inara's Code), we will look at the planet's radius by itself

In [26]:
# Earth-Like exoplanet radius classification

# creating a condition to classify for earth-like exoplanets
earth_like_radius = (dataset['planet_rad_earth_rad'] <= 1.5) 

# count the number of exoplanets that satisfy this condition 
earth_like_radius_count = dataset[earth_like_radius].shape[0]

# print the number of exoplanets that satisfy the condition
print('The number of exoplanets that are earth like is: ', earth_like_radius_count)

# list the names of exoplanets that satisfy the condtion
earth_like_radius_names = dataset[earth_like_radius]['planet_name']
print('The names of earth like exoplanets:')
print(earth_like_radius_names)

The number of exoplanets that are earth like is:  863
The names of earth like exoplanets:
138     EPIC 201170410.02
140      EPIC 201427007 b
141      EPIC 201497682 b
142      EPIC 201595106 b
143      EPIC 201615463 c
              ...
5344         TRAPPIST-1 e
5345         TRAPPIST-1 f
5346         TRAPPIST-1 g
5347         TRAPPIST-1 h
5569           Wolf 327 b
Name: planet_name, Length: 863, dtype: object

In [27]:
# Super-Earth-Like exoplanet radius classification

# creating a condition to classify for super-earth-like exoplanets
super_earth_like_radius = (dataset['planet_rad_earth_rad'] > 1.5) & (dataset['planet_rad_earth_rad'] <= 2)

# count the number of exoplanets that satisfy this condition 
super_earth_like_radius_count = dataset[super_earth_like_radius].shape[0]

# print the number of exoplanets that satisfy the condition
print('The number of exoplanets that are super earth like is: ', super_earth_like_radius_count)

# list the names of exoplanets that satisfy the condtion
super_earth_like_radius_names = dataset[super_earth_like_radius]['planet_name']
print('The names of super earth like exoplanets:')
print(super_earth_like_radius_names)

The number of exoplanets that are super earth like is:  683
The names of super earth like exoplanets:
35              55 Cnc e
120            CoRoT-7 b
149     EPIC 206024342 b
160     EPIC 212297394 b
163     EPIC 212499991 b
              ...
5324           TOI-836 b
5329           TOI-871 b
5408          WASP-132 c
5498           WASP-47 e
5541           WASP-84 c
Name: planet_name, Length: 683, dtype: object

In [28]:
# Neptune-Like exoplanet radius classification

# creating a condition to classify for neptune-like exoplanets
neptune_like_radius = (dataset['planet_rad_earth_rad'] > 2) & (dataset['planet_rad_earth_rad'] <= 7)

# count the number of exoplanets that satisfy this condition 
neptune_like_radius_count = dataset[neptune_like_radius].shape[0]

# print the number of exoplanets that satisfy the condition
print('The number of exoplanets that are neptune like is: ', neptune_like_radius_count)

# list the names of exoplanets that satisfy the condtion
neptune_like_radius_names = dataset[neptune_like_radius]['planet_name']
print('The names of neptune like exoplanets:')
print(neptune_like_radius_names)

The number of exoplanets that are neptune like is:  1902
The names of neptune like exoplanets:
52         AU Mic b
53         AU Mic c
62      BD+20 594 b
103      CoRoT-22 b
105      CoRoT-24 b
           ...
5374    V1298 Tau d
5427     WASP-156 b
5497      WASP-47 d
5570     Wolf 503 b
5612       pi Men c
Name: planet_name, Length: 1902, dtype: object

In [29]:
# Super-Neptune-Like exoplanet classification

# creating a condition to classify for super-neptune-like exoplanets
super_neptune_like_radius = (dataset['planet_rad_earth_rad'] >= 5) & (dataset['planet_rad_earth_rad'] <= 7)

# count the number of exoplanets that satisfy this condition 
super_neptune_like_radius_count = dataset[super_neptune_like_radius].shape[0]

# print the number of exoplanets that satisfy the condition
print('The number of exoplanets that are super neptune like is: ', super_neptune_like_radius_count)

# list the names of exoplanets that satisfy the condtion
super_neptune_like_radius_names = dataset[super_neptune_like_radius]['planet_name']
print('The names of super neptune like exoplanets:')
print(super_neptune_like_radius_names)

The number of exoplanets that are super neptune like is:  126
The names of super neptune like exoplanets:
106              CoRoT-24 c
123               CoRoT-8 b
125     CoRoTID 223977153 b
137              DS Tuc A b
159        EPIC 211945201 b
               ...
5319              TOI-813 b
5337              TOI-942 c
5373            V1298 Tau c
5374            V1298 Tau d
5427             WASP-156 b
Name: planet_name, Length: 126, dtype: object

In [30]:
# Jupiter-Like exoplanet classification

# creating a condition to classify for jupiter-like exoplanets
jupiter_like_radius = (dataset['planet_rad_earth_rad'] > 6) & (dataset['planet_rad_earth_rad'] <= 15)

# count the number of exoplanets that satisfy this condition 
jupiter_like_radius_count = dataset[jupiter_like_radius].shape[0]

# print the number of exoplanets that satisfy the condition
print('The number of exoplanets that are jupiter like is: ', jupiter_like_radius_count)

# list the names of exoplanets that satisfy the condtion
jupiter_like_radius_names = dataset[jupiter_like_radius]['planet_name']
print('The names of jupiter like exoplanets:')
print(jupiter_like_radius_names)

The number of exoplanets that are jupiter like is:  636
The names of jupiter like exoplanets:
13      2MASS J01225093-2439505 b
68                   BD+60 1417 b
87                   COCONUTS-2 b
90                     CoRoT-10 b
93                     CoRoT-13 b
                  ...
5564              Wendelstein-2 b
5571                       XO-1 b
5572                     XO-2 N b
5576                       XO-4 b
5577                       XO-5 b
Name: planet_name, Length: 636, dtype: object

In [31]:
# Super-Jupiter-Like exoplanet classification

# creating a condition to classify for super-jupiter-like exoplanets
super_jupiter_like_radius = (dataset['planet_rad_earth_rad'] > 15)

# count the number of exoplanets that satisfy this condition 
super_jupiter_like_radius_count = dataset[super_jupiter_like_radius].shape[0]

# print the number of exoplanets that satisfy the condition
print('The number of exoplanets that are super jupiter like is: ', super_jupiter_like_radius_count)

# list the names of exoplanets that satisfy the condtion
super_jupiter_like_radius_names = dataset[super_jupiter_like_radius]['planet_name']
print('The names of super jupiter like exoplanets:')
print(super_jupiter_like_radius_names)

The number of exoplanets that are super jupiter like is:  214
The names of super jupiter like exoplanets:
7         1RXS J160929.1-210524 b
14      2MASS J02192210-3925225 b
84               CFHTWIR-Oph 98 b
88                       CT Cha b
89                      CoRoT-1 b
                  ...
5562                      WTS-2 b
5575                       XO-3 b
5578                       XO-6 b
5579                       XO-7 b
5588                    bet Pic b
Name: planet_name, Length: 214, dtype: object

### Looking at the number of exoplanets between neptune like and jupiter like that will be missing if we remove the catgory super-neptune like and change the condition for neptune like

In [32]:
# Additional Neptune-Like exoplanet classification with changed condtion
neptune_like_condition2 = (dataset['planet_rad_earth_rad'] > 2) & (dataset['planet_rad_earth_rad'] <= 6) & (dataset['planet_mass_earth_mass'] >= 8) & (dataset['planet_mass_earth_mass'] <= 80)

# count the number of exoplanets that satisfy this condition 
neptune_like_count2 = dataset[neptune_like_condition2].shape[0]

# print the number of exoplanets that satisfy the condition
print('The number of exoplanets that are neptune like is: ', neptune_like_count2)

# list the names of exoplanets that satisfy the condtion
neptune_like_names2 = dataset[neptune_like_condition2]['planet_name']
print('The names of neptune like exoplanets:')
print(neptune_like_names2)

The number of exoplanets that are neptune like is:  265
The names of neptune like exoplanets:
52         AU Mic b
53         AU Mic c
62      BD+20 594 b
103      CoRoT-22 b
106      CoRoT-24 c
           ...
5334      TOI-908 b
5339      TOI-969 b
5373    V1298 Tau c
5427     WASP-156 b
5497      WASP-47 d
Name: planet_name, Length: 265, dtype: object

In [33]:
# creating a condition to classify for neptune-like exoplanets in terms of mass
neptune_like_mass2 = (dataset['planet_mass_earth_mass'] >= 8) & (dataset['planet_mass_earth_mass'] <= 80)

# count the number of exoplanets that satisfy this condition 
neptune_like_mass_count2 = dataset[neptune_like_condition2].shape[0]

# print the number of exoplanets that satisfy the condition
print('The number of exoplanets that are neptune like is: ', neptune_like_mass_count2)

# list the names of exoplanets that satisfy the condtion
neptune_like_mass_names2 = dataset[neptune_like_mass2]['planet_name']
print('The names of neptune like exoplanets:')
print(neptune_like_mass_names2)

The number of exoplanets that are neptune like is:  265
The names of neptune like exoplanets:
33       55 Cnc c
35       55 Cnc e
36       55 Cnc f
39       61 Vir c
40       61 Vir d
          ...
5498    WASP-47 e
5541    WASP-84 c
5613     pi Men d
5616    rho CrB c
5617    rho CrB d
Name: planet_name, Length: 670, dtype: object

In [34]:
# seeing how many exoplanets were not counted between neptune-like and jupiter-like

# creating condition
missing_planets_condition = (dataset['planet_mass_earth_mass'] > 80) & (dataset['planet_mass_earth_mass'] < 3180)

# count number of exoplanets that satify condition
missing_planets_count = dataset[missing_planets_condition].shape[0]

# print the number of exoplanets that satisfy the condition
print('The number of missing exoplanets is: ', missing_planets_count)

# list the names of exoplanets that satisfy the condtion
missing_planets_names = dataset[missing_planets_condition]['planet_name']
print('The names of missing exoplanets:')
print(missing_planets_names)

The number of missing exoplanets is:  1457
The names of missing exoplanets:
2         14 And b
3         14 Her b
4       16 Cyg B b
5         17 Sco b
6         18 Del b
           ...
5625     ups And b
5626     ups And c
5627     ups And d
5628     ups Leo b
5629      xi Aql b
Name: planet_name, Length: 1457, dtype: object

In [35]:
# creating dataframe to view the number of exoplanets missing

max_length2 = max(missing_planets_condition)

new_column = dataset[missing_planets_condition].reindex(range(max_length2))

missing_planet_dataframe = pd.DataFrame({
    'Planets': dataset[missing_planets_condition]['planet_name'],
    'Radius': dataset[missing_planets_condition]['planet_rad_earth_rad'],
    'Mass': dataset[missing_planets_condition]['planet_mass_earth_mass'],
})

In [36]:
print(missing_planet_dataframe)
#missing_planet_dataframe.to_csv('mass_radius_relation_missing_planets.csv', index=False)

         Planets  Radius         Mass
2       14 And b     NaN  1224.550433
3       14 Her b     NaN  1642.383591
4     16 Cyg B b     NaN   533.514528
5       17 Sco b     NaN  1373.018720
6       18 Del b     NaN  3109.015380
...          ...     ...          ...
5625   ups And b     NaN   219.960419
5626   ups And c     NaN  1275.328758
5627   ups And d     NaN  1616.242590
5628   ups Leo b     NaN   162.092490
5629    xi Aql b     NaN   716.301647

[1457 rows x 3 columns]

### Looking at the number of exoplanets between neptune like and jupiter like that would still ne missing if we add two new categories, saturn like and super-saturn like

In [37]:
# saturn-like

# saturn-Like exoplanet classification
saturn_like_condition = (dataset['planet_rad_earth_rad'] > 6) & (dataset['planet_rad_earth_rad'] <= 15) & (dataset['planet_mass_earth_mass'] > 80) & (dataset['planet_mass_earth_mass'] <= 150)

# count the number of exoplanets that satisfy this condition 
saturn_like_count = dataset[saturn_like_condition].shape[0]

# print the number of exoplanets that satisfy the condition
print('The number of exoplanets that are saturn like is: ', saturn_like_count)

# list the names of exoplanets that satisfy the condtion
saturn_like_names = dataset[saturn_like_condition]['planet_name']
print('The names of saturn like exoplanets:')
print(saturn_like_names)

The number of exoplanets that are saturn like is:  70
The names of saturn like exoplanets:
107     CoRoT-25 b
118      CoRoT-5 b
339     HAT-P-19 b
361     HAT-P-38 b
368     HAT-P-44 b
           ...
5503     WASP-52 b
5512      WASP-6 b
5520     WASP-67 b
5522     WASP-69 b
5539     WASP-83 b
Name: planet_name, Length: 70, dtype: object

In [38]:
# super-saturn-like

# super-saturn Like exoplanet classification
super_saturn_like_condition = (dataset['planet_rad_earth_rad'] > 6) & (dataset['planet_rad_earth_rad'] <= 15) & (dataset['planet_mass_earth_mass'] > 150) & (dataset['planet_mass_earth_mass'] < 318)

# count the number of exoplanets that satisfy this condition 
super_saturn_like_count = dataset[super_saturn_like_condition].shape[0]

# print the number of exoplanets that satisfy the condition
print('The number of exoplanets that are super-saturn like is: ', super_saturn_like_count)

# list the names of exoplanets that satisfy the condtion
super_saturn_like_names = dataset[super_saturn_like_condition]['planet_name']
print('The names of super-saturn like exoplanets:')
print(super_saturn_like_names)

The number of exoplanets that are super-saturn like is:  151
The names of super-saturn like exoplanets:
95           CoRoT-16 b
108          CoRoT-26 b
110          CoRoT-28 b
111          CoRoT-29 b
117           CoRoT-4 b
             ...
5555          WASP-98 b
5563    Wendelstein-1 b
5564    Wendelstein-2 b
5571             XO-1 b
5572           XO-2 N b
Name: planet_name, Length: 151, dtype: object

#### Looking at the number of exoplanets still missing after creating the saturn like and super-saturn like categories

In [39]:
# creating dataframe to view the number of exoplanets missing

max_length3 = max(missing_planets_condition)

new_column2 = dataset[missing_planets_condition].reindex(range(max_length3))

missing_planet_dataframe2 = pd.DataFrame({
    'Planets missing between neptune and jupiter': dataset[missing_planets_condition]['planet_name'],
    'Radius': dataset[missing_planets_condition]['planet_rad_earth_rad'],
    'Mass': dataset[missing_planets_condition]['planet_mass_earth_mass'],
    'Saturn like planets': dataset[saturn_like_condition]['planet_name'],
    'Super-Saturn like planets': dataset[super_saturn_like_condition]['planet_name'],
})

In [40]:
print(missing_planet_dataframe2)
#missing_planet_dataframe2.to_csv('mass_radius_relation_missing_planets2.csv', index=False)

     Planets missing between neptune and jupiter  Radius         Mass  \
2                                       14 And b     NaN  1224.550433
3                                       14 Her b     NaN  1642.383591
4                                     16 Cyg B b     NaN   533.514528
5                                       17 Sco b     NaN  1373.018720
6                                       18 Del b     NaN  3109.015380
...                                          ...     ...          ...
5625                                   ups And b     NaN   219.960419
5626                                   ups And c     NaN  1275.328758
5627                                   ups And d     NaN  1616.242590
5628                                   ups Leo b     NaN   162.092490
5629                                    xi Aql b     NaN   716.301647

     Saturn like planets Super-Saturn like planets
2                    NaN                       NaN
3                    NaN                       NaN
4                    NaN                       NaN
5                    NaN                       NaN
6                    NaN                       NaN
...                  ...                       ...
5625                 NaN                       NaN
5626                 NaN                       NaN
5627                 NaN                       NaN
5628                 NaN                       NaN
5629                 NaN                       NaN

[1457 rows x 5 columns]

### Using our filtered dataset with removed duplicates and removed outliers (Samia's Code + Inara's Code), we will look at mass and radius relation for revised categories

In [41]:
# Earth like exoplanet classification
 
print('The number of exoplanets that are earth like is: ', earth_like_count)
print('The names of earth like exoplanets:')
print(earth_like_names)

The number of exoplanets that are earth like is:  17
The names of earth like exoplanets:
191        GJ 1132 b
197        GJ 1252 b
239        GJ 3473 b
243         GJ 357 b
251        GJ 3929 b
297         GJ 806 b
316        GJ 9827 c
3336     Kepler-20 e
4739      LHS 1140 c
4742      LHS 1678 c
4756    LTT 1445 A c
5090       TOI-178 b
5189       TOI-270 b
5263       TOI-500 b
5341    TRAPPIST-1 b
5342    TRAPPIST-1 c
5346    TRAPPIST-1 g
Name: planet_name, dtype: object

In [42]:
# Super-Earth like exoplanet classification

print('The number of exoplanets that are super-earth like is: ', super_earth_like_count)
print('The names of super-earth like exoplanets:')
print(super_earth_like_names)

The number of exoplanets that are super-earth like is:  55
The names of super-earth like exoplanets:
120        CoRoT-7 b
315        GJ 9827 b
537      HD 110067 e
624      HD 136352 b
687       HD 15337 b
848       HD 20329 b
917      HD 219134 b
918      HD 219134 c
972      HD 260655 c
1007       HD 3167 b
1174      HD 80653 b
1267     HIP 29442 c
1352        K2-111 b
1375        K2-131 b
1383        K2-136 d
1385        K2-138 b
1394        K2-141 b
1481        K2-199 b
1567        K2-265 b
1608        K2-291 b
1614          K2-3 c
1949     KOI-1599.01
1985    Kepler-100 d
2054    Kepler-105 c
2083    Kepler-107 b
2127     Kepler-11 b
2343    Kepler-126 b
2507    Kepler-138 c
2525    Kepler-139 d
3368     Kepler-21 b
3932    Kepler-414 b
4062     Kepler-50 b
4209     Kepler-60 d
4280     Kepler-65 d
4473     Kepler-80 e
4644     Kepler-93 b
4696     Kepler-97 b
4709     Kepler-98 b
4720     Kepler-99 b
4736       L 98-59 d
4738      LHS 1140 b
4998      TOI-1136 b
5012      TOI-1235 b
5025      TOI-1266 c
5040      TOI-1347 c
5046      TOI-1416 b
5053      TOI-1452 b
5066      TOI-1634 b
5072      TOI-1685 b
5077      TOI-1695 b
5091       TOI-178 c
5161       TOI-238 b
5311       TOI-733 b
5315       TOI-776 b
5324       TOI-836 b
Name: planet_name, dtype: object

In [43]:
# neptune like exoplanet classification
neptune_like_condition = (dataset['planet_rad_earth_rad'] > 2) & (dataset['planet_rad_earth_rad'] <= 6) & (dataset['planet_mass_earth_mass'] >= 8) & (dataset['planet_mass_earth_mass'] < 20)

# count the number of exoplanets that satisfy this condition 
neptune_like_count = dataset[neptune_like_condition].shape[0]

# print the number of exoplanets that satisfy the condition
print('The number of exoplanets that are neptune like is: ', neptune_like_count)

# list the names of exoplanets that satisfy the condtion
neptune_like_names = dataset[neptune_like_condition]['planet_name']
print('The names of neptune like exoplanets:')
print(neptune_like_names)

The number of exoplanets that are neptune like is:  165
The names of neptune like exoplanets:
53              AU Mic c
62           BD+20 594 b
103           CoRoT-22 b
175     EPIC 229004835 b
179     EPIC 249893012 c
              ...
5322           TOI-824 b
5325           TOI-836 c
5334           TOI-908 b
5339           TOI-969 b
5497           WASP-47 d
Name: planet_name, Length: 165, dtype: object

In [44]:
# super-neptune like exoplanet classification
super_neptune_like_condition = (dataset['planet_rad_earth_rad'] > 2) & (dataset['planet_rad_earth_rad'] <= 6) & (dataset['planet_mass_earth_mass'] >= 20) & (dataset['planet_mass_earth_mass'] < 80)

# count the number of exoplanets that satisfy this condition 
super_neptune_like_count = dataset[super_neptune_like_condition].shape[0]

# print the number of exoplanets that satisfy the condition
print('The number of exoplanets that are super neptune like is: ', super_neptune_like_count)

# list the names of exoplanets that satisfy the condtion
super_neptune_like_names = dataset[super_neptune_like_condition]['planet_name']
print('The names of super neptune like exoplanets:')
print(super_neptune_like_names)

The number of exoplanets that are super neptune like is:  100
The names of super neptune like exoplanets:
52         AU Mic b
106      CoRoT-24 c
199        GJ 143 b
266        GJ 436 b
328      HAT-P-11 b
           ...
5301      TOI-674 b
5321      TOI-815 c
5327      TOI-849 b
5373    V1298 Tau c
5427     WASP-156 b
Name: planet_name, Length: 100, dtype: object

In [45]:
# saturn like exoplanet classification
saturn_like_condition = (dataset['planet_rad_earth_rad'] > 6) & (dataset['planet_rad_earth_rad'] <= 15) & (dataset['planet_mass_earth_mass'] >= 80) & (dataset['planet_mass_earth_mass'] <= 150)

# count the number of exoplanets that satisfy this condition 
saturn_like_count = dataset[saturn_like_condition].shape[0]

# print the number of exoplanets that satisfy the condition
print('The number of exoplanets that are saturn like is: ', saturn_like_count)

# list the names of exoplanets that satisfy the condtion
saturn_like_names = dataset[saturn_like_condition]['planet_name']
print('The names of saturn like exoplanets:')
print(saturn_like_names)

The number of exoplanets that are saturn like is:  70
The names of saturn like exoplanets:
107     CoRoT-25 b
118      CoRoT-5 b
339     HAT-P-19 b
361     HAT-P-38 b
368     HAT-P-44 b
           ...
5503     WASP-52 b
5512      WASP-6 b
5520     WASP-67 b
5522     WASP-69 b
5539     WASP-83 b
Name: planet_name, Length: 70, dtype: object

In [46]:
# super-saturn like exoplanet classification

print('The number of exoplanets that are super-saturn like is: ', super_saturn_like_count)
print('The names of xsuper-saturn like exoplanets:')
print(super_saturn_like_names)

The number of exoplanets that are super-saturn like is:  151
The names of xsuper-saturn like exoplanets:
95           CoRoT-16 b
108          CoRoT-26 b
110          CoRoT-28 b
111          CoRoT-29 b
117           CoRoT-4 b
             ...
5555          WASP-98 b
5563    Wendelstein-1 b
5564    Wendelstein-2 b
5571             XO-1 b
5572           XO-2 N b
Name: planet_name, Length: 151, dtype: object

In [47]:
# jupiter like exoplanet classification

print('The number of exoplanets that are jupiter like is: ', jupiter_like_count)
print('The names of jupiter like exoplanets:')
print(jupiter_like_names)

The number of exoplanets that are jupiter like is:  217
The names of jupiter like exoplanets:
87      COCONUTS-2 b
90        CoRoT-10 b
93        CoRoT-13 b
94        CoRoT-14 b
96        CoRoT-17 b
            ...
5552       WASP-95 b
5554       WASP-97 b
5556       WASP-99 b
5576          XO-4 b
5577          XO-5 b
Name: planet_name, Length: 217, dtype: object

In [48]:
# super-jupiter like exoplanet classification

print('The number of exoplanets that are super-jupiter like is: ', super_jupiter_like_count)
print('The names of super-jupiter like exoplanets:')
print(super_jupiter_like_names)

The number of exoplanets that are super-jupiter like is:  12
The names of super-jupiter like exoplanets:
14      2MASS J02192210-3925225 b
88                       CT Cha b
128                      DH Tau b
318                       GPX-1 b
319                      GQ Lup b
320             GSC 06214-00210 b
464                     HATS-70 b
861                   HD 206893 c
1835                    KELT-20 b
1956                  KOI-2513.01
5575                       XO-3 b
5588                    bet Pic b
Name: planet_name, dtype: object

In [49]:
# others exoplanet classification
others_condition = (dataset['planet_rad_earth_rad'] >= 0.4) & (dataset['planet_rad_earth_rad'] <= 78) & (dataset['planet_mass_earth_mass'] >= 80) & (dataset['planet_mass_earth_mass'] <= 3180)

# count the number of exoplanets that satisfy this condition 
others_count = dataset[others_condition].shape[0]

# print the number of exoplanets that satisfy the condition
print('The number of exoplanets that are in the others category is: ', others_count)

# list the names of exoplanets that satisfy the condtion
others_names = dataset[others_condition]['planet_name']
print('The names of exoplanets in others category:')
print(others_names)

The number of exoplanets that are in the others category is:  663
The names of exoplanets in others category:
7       1RXS J160929.1-210524 b
84             CFHTWIR-Oph 98 b
87                 COCONUTS-2 b
89                    CoRoT-1 b
90                   CoRoT-10 b
                 ...
5572                   XO-2 N b
5576                     XO-4 b
5577                     XO-5 b
5578                     XO-6 b
5579                     XO-7 b
Name: planet_name, Length: 663, dtype: object